.heading{
    place-self: center;
    display: flex;
    align-items: center;
}
.heading h1{
    margin-bottom: 0px;
}
.wheather{
    place-self: center;
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 40px;
    background: linear-gradient(45deg, #2f4680,#500ae4);
    border-radius: 10px;
}
.search-bar{
   display: flex;
   align-items: center;
   gap: 12px;
   margin-bottom: 40px;
}
.search-bar input{
    height: 50px;
    padding: 10px 20px;
    border-radius: 40px;
    border: none;
    outline: none;
    color: #626262;
    background-color: #ebfffc;
    font-size: 18px;
}
.search-bar img{
    width: 50px;
    padding: 11px;
    border-radius: 50%;
    background-color: #ebfffc;
    cursor: pointer;
}
.wheather-icon{
    height: 100px;
    margin-bottom: 30px;
}
.temprature{
    font-size: 80px;
    color: #fff;
    font-weight:600;
    line-height: 1;
}
.location{
    font-size: 40px;
    color: #fff;
}
.weather-data{
    width:100%;
    margin-top: 40px;
    color: #fff;
    display: flex;
    justify-content: space-between;
    align-items: center;

}
.weather-data .col{
    display: flex;
    align-items: flex-start;
    gap: 12px;
    font-size: 22px;
    
}
.weather-data .col span{
    font-size: 14px;
    display: block;
}
.weather-data .col img{
    width: 38px;
}